<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src = '../resources/img/helmet.jpg';
				  
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
 								for item in data
              								if(playerInfo)
                								if (item.id == playerInfo[0].id)
                 									 option(selected=true value=item.id)= item.name
                								else
                 									 option(selected=false value=item.id)= item.name
              								else
               									 option(value=item.id)= item.name
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>	</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>	</td>
							if (playerInfo)
              							td= playerInfo[0].major
            						else
              							td
						</tr>
						<tr>
							<th>Games Played</th>
							<td>	</td>
							if (playerGames)
              							td= playerGames[0].count
            						else
              							td
						</tr>
						<tr>
							<td>Passing Yards: </td>
							<td>Avg. Passing Yards: </td>
							if (playerInfo)
              							td= 'Passing Yards: ' + playerInfo[0].passing_yards
             	 						td= 'Avg. Passing Yards: ' + playerPassAvg
            						else
              							td Passing Yards:
              							td Avg. Passing Yards
						</tr>
						<tr>
							<td>Rushing Yards: </td>
							<td>Avg. Rushing Yards: </td>
							if (playerInfo)
              							td= 'Rushing Yards: ' + playerInfo[0].rushing_yards
              							td= 'Avg. Rushing Yards: ' + playerRushAvg
            						else
              							td Rushing Yards:
              							td Avg. Rushing Yards
						</tr>
						<tr>
							<td>Receiving Yards: </td>
							<td>Avg. Receiving Yards: </td>
							if (playerInfo)
              							td= 'Receiving Yards: ' + playerInfo[0].receiving_yards
              							td= 'Avg. Receiving Yards: ' + playerReceAvg
           						 else
              							td Receiving Yards:
             							 td Avg. Receiving Yards:

						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>
